@import "tailwindcss";

@theme {
  --color-background: #ffffff;
  --color-foreground: #171717;
  --color-midnight-moss: #010e04;
  --color-las-palmas: #d5ee15;
  --color-ebb: #ebe2e0;
  --color-lilac: #ddb1d1;
  --color-honey-flower: #4d1a78;
}

body {
  color: var(--color-foreground);
  background: var(--color-background);
  font-family: Inter, Helvetica, Arial, sans-serif;
}
