@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --midnight-moss: #010e04;
  --las-palmas: #d5ee15;
  --ebb: #ebe2e0;
  --lilac: #ddb1d1;
  --honey-flower: #4d1a78;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Inter, Helvetica, Arial, sans-serif;
}
